$base-font: Arial, sans-serif;
$white: #ffffff;
$black: #000000;
$green: #00945f;
$green-bg: #ebf7f5;
$grey-line: #c0c0c0;
$grey-1: #888888;
$grey-2: #666666;
$orange: #e97300;

body {
  font-family: $base-font;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box
}

.container {
  padding: 0 36px;
  max-width: 1280px;
  margin: 0 auto;

  @media (max-width: 767.98px) {
    padding: 0 18px;
    max-width: 100%;
  }
}



#Header {
  padding: 64px 0 52px;

  @media (min-width: 768px) and (max-width: 1199.98px) {
    padding: 50px 0;
  }

  @media (max-width: 767.98px) {
    padding: 24px 0;
  }

  .logo {
    width: 317px;

    @media (max-width: 767.98px) {
      width: 174px;
      margin: 0 auto;

    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

}

#Banner {
  // margin: 0 0 60px;

  // @media (max-width: 767.98px) {
  //   margin: 0 0 40px;

  // }
  img {
    width: 100%;
    height: auto;
    display: block;
  }

  .banner-image {
    img {
      width: 100%;
      height: auto;
      display: block;

      &.desktop {
        @media (max-width: 767.98px) {
          display: none;
        }
      }

      &.mobile {
        display: none;

        @media (max-width: 767.98px) {
          display: block;
        }
      }
    }
  }
}

.title {
  font-size: 30px;
  line-height: 1.3;
  color: $green;
  font-weight: 500;
  margin: 0;
  text-align: center;
  position: relative;
  padding: 0 0 15px;

  @media (max-width: 767.98px) {
    font-size: 28px;

  }

  &::after {
    content: "";
    position: absolute;
    width: 72px;
    height: 2px;
    background-color: $green;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#Investment {
  padding: 60px 0 40px;

  @media (min-width: 768px) and (max-width: 1199.98px) {
    padding: 50px 0;
  }

  @media (max-width: 767.98px) {
    padding: 40px 0 50px;
  }

  p {
    color: $grey-1;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    margin: 20px 0 40px;

    @media (max-width: 767.98px) {
      margin: 18px 0 50px;
    }

  }
}

.primary-button {
  width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  background-color: $orange;
  margin: 0 auto;
  font-size: 24px;
  line-height: 1;
  transition: 0.3s all;
  text-decoration: none;

  @media (max-width: 767.98px) {}

  &:hover {
    background-color: rgba(233, 115, 0, 0.85);
    transition: 0.3s all;

  }
}

#Advantage {
  .ad-wrap {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 80px;
    padding: 40px 0 60px;

    @media (min-width: 768px) and (max-width: 1199.98px) {
      gap: 60px;
      padding: 40px 0 50px;
    }

    @media (max-width: 767.98px) {
      padding: 30px 0 35px;
      gap: 40px;
      // flex-wrap: nowrap;
    }

    .each-ad {
      width: calc(50% - 40px);
      position: relative;

      @media (min-width: 768px) and (max-width: 1199.98px) {
        width: calc(50% - 30px);

      }

      @media (max-width: 767.98px) {
        width: 100%;

      }

      &:nth-child(even) {
        &::before {
          content: "";
          position: absolute;
          width: 1px;
          height: calc(100% - 4px);
          background-color: $grey-line;
          left: -40px;
          top: 2px;

          @media (min-width: 768px) and (max-width: 1199.98px) {
            left: -30px;

          }

          @media (max-width: 767.98px) {
            display: none;
          }
        }
      }

      h3 {
        color: $green;
        font-size: 24px;
        line-height: 1.2;
        margin: 0 0 15px;
        font-weight: 500;

        @media (max-width: 767.98px) {
          font-size: 22px;
        }
      }

      p {
        font-size: 18px;
        line-height: 1.5;
        color: $grey-1;
        margin: 0;
        font-weight: 400;

        a {
          display: inline-block;
          color: #759b24;
          position: relative;
          text-decoration: none;
          margin-top: 10px;

          img {
            margin-left: 6px;
            transition: 0.3s all;
          }

          &:hover {
            img {
              margin-left: 10px;
              transition: 0.3s all;

            }
          }
        }

      }
    }
  }
}

#PromoBar {
  .promobar-wrap {
    background-color: $green-bg;

    h4 {
      background-color: $green;
      color: $white;
      font-size: 24px;
      line-height: 1.2;
      text-align: center;
      padding: 15px;
      margin: 0;
      font-weight: 500;

      @media (max-width: 767.98px) {
        font-size: 22px;
        padding: 15px 10px;
      }

      @media (max-width: 479.98px) {
        padding: 15px 0;

      }
    }

    p {
      font-size: 18px;
      line-height: 1.5;
      font-weight: 400;
      padding: 35px 65px;
      margin: 0;
      color: $grey-1;

      @media (max-width: 767.98px) {
        padding: 20px 20px;
      }

      @media (max-width: 479.98px) {
        padding: 20px 10px;

      }
    }
  }
}

#Testimonial {
  padding: 60px 0 120px;

  @media (min-width: 768px) and (max-width: 1199.98px) {
    padding: 60px 0 80px;

  }

  @media (max-width: 767.98px) {
    padding: 30px 0 65px;

  }

  .testimonial-wrap {
    padding: 0 65px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media (min-width: 992px) and (max-width: 1199.98px) {
      padding: 0 40px;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
      padding: 0;
    }


    @media (max-width: 767.98px) {
      flex-wrap: wrap;
      gap: 30px;
      padding: 0 0px;
      max-width: 200px;
      margin: 0 auto;
    }

    .each-testimonial {
      &:nth-child(odd) {
        width: 200px;

        @media (max-width: 767.98px) {
          width: 100%;
        }
      }

      &:nth-child(even) {
        width: 360px;

        @media (min-width: 992px) and (max-width: 1199.98px) {
          width: 300px;
        }

        @media (min-width: 768px) and (max-width: 991.98px) {
          width: 200px;
        }

        @media (max-width: 767.98px) {
          width: 100%;
        }
      }

      text-align: center;

      .img-wrap {
        width: 180px;
        margin: 0 auto 10px;

        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }

      p {
        font-size: 18px;
        line-height: 1.5;
        color: $grey-2;
        margin: 0 0 20px;
        font-style: italic;

        @media (max-width: 767.98px) {
          margin: 0 0 15px;
        }

        &:has(span) {
          font-style: normal;
          color: $green;
          max-width: 200px;
          margin: 0 auto;
        }
      }
    }
  }
}

#Footer {
  border-top: 1px solid $green;
  padding: 36px 0;

  @media (max-width: 767.98px) {
    padding: 25px 0 35px;
  }

  .social-share {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 26px;

    @media (max-width: 767.98px) {
      margin-bottom: 20px;

    }

    a {
      display: block;

      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  }

  p {
    color: $grey-2;
    font-size: 10px;
    line-height: 1.5;
    margin: 0 0 26px;


    a {
      color: $grey-2;
    }

    &.pre-footer {
      color: $grey-2;
      font-size: 10px;
      line-height: 1.5;
      margin: 0 0 0px;

      a {
        color: $black;
      }
    }
  }

}